:root {
    --appBackground: #000000;
    --appBackgroundTransparent: #00000050;
    --appColor: #d0d0d0;
    --appFontSize: 16px;
    --textFontSize: 16px;

    --primary: #174FA1;
    --primaryBackground: #174FA1;
    --primaryBackgroundHover: #346ec5;
    --primaryBackgroundHoverO: #c1d2ec30;
    --primaryColor: #FFFCFF;

    --secondary: #B30ECF;
    --secondaryBackground: #B30ECF;
    --secondaryBackgroundHover: #be29d8;
    --secondaryBackgroundAlterHover: #251725;
    --secondaryColor: #e4e4e4;

    --accent: #FFD477;
    --accentBackground: #FFD477;
    --accentBackgroundHover: #d1aa56;
    --accentColor: #444444;

    --scrollColor: #919191;
    --scrollBackground: #940d82;

    --formErrorColor: #f08d9c;
    --formBackground: rgba(33, 33, 33, 0.7);
    --formBackgroundSolid: #494949;
    --formBackgroundTransparent: #494949ab;

    --notificationColor: #d0d0d0;
    --notificationColorContrast: #000000;
    --notificationSuccess: #8e9f0f;
    --notificationWarning: #edc464;
    --notificationError: #c12323;
    --notificationInfo: #a6cce3;

    --gradeBackgroundPassed: #E1ECE4;
    --gradeColorPassed: #074b07;
    --gradeBackgroundFailed: #FFE5E7;
    --gradeColorFailed: #620e15;
    --gradeBackgroundBarely: #F6EDC8;
    --gradeColorBarely: #453a0b;

    --gradePanelPassed: rgba(69, 83, 65, 0.5);
    --gradePanelFailed: rgba(43, 11, 17, 0.5);
    --gradePanelBarely: rgba(89, 89, 20, 0.5);


    --pillBackground: #3d3d3d;
    --pillColor: #585858;
    --pillBackgroundHover: #3d3d3d;
    --pillColorHover: #1b1b1b;
    --rootHeroBackground: #2b2b2b;
    --timerBarBackground: #0c770c;
    --timerBarContainerBackground: rgb(200, 200, 200);
    --statusBackground: #323232;

    --answerBorderColor: #919191;
    --answerSelectedColor: #ebebeb;
    --answerSelectedBackground: #4287cf;
    --answerCorrectColor: #ffffff;
    --answerCorrectColorText: #06700b;
    --answerCorrectBorderColor: #b8ded4;
    --answerCorrectBackground: #2E5248;
    --answerIncorrectColor: #e5acac;
    --answerIncorrectBackground: #630f2b;
    --answerIncorrectBorderColor: #c34c74;

    --grayBackdropBackground: rgba(50, 50, 50, 0.7);
    --borderColorTransparent: rgba(0, 0, 0, 0.5);
    --matLabelBackground: rgba(61, 61, 61, 0.7);
    --matLabelContrastBackground: rgba(76, 76, 76, 0.7);
    --itemOptionBorder: rgba(64, 64, 64, 0.5);
    --stadisticBackground: rgba(0, 0, 0, 0.5);

    --zoomLevel: 100%;

    --space-joined: 4px;
    --space-direct: 8px;
    --space-relation: 12px;
    --space-def: 16px;
    --space-group: 24px;
    --space-separation: 32px;
    --space-section: 48px;
    --space-block: 64px;
}

@import './theme/core/reset';
@import './theme/core/refs';
@import './theme/core/mixins';
@import './theme/core/colors';
@import './theme/core/typography';

@import './theme/tags.scss';
@import './theme/structure-app.scss';
@import './theme/notification.scss';

html,
body {
    background: var(--appBackground);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    font-family: $outfitFont;
    color: var(--appColor);
    font-size: var(--appFontSize);
    font-weight: normal;
    line-height: 1.3;
    // letter-spacing: 0.05em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 100vw;
    min-height: 100vh;

    * * {
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
    }
}