<div class="_animation_state">
    <div class="all-screen-section">
        <section-dinamic design="glass">
            <div class="arrage centers paddings-relation">
                <div class="item" (click)="gotoDashboard()">
                    <lu-icon [icon]="luIcon.back"></lu-icon>
                </div>
                <h4>Plantillas Genericas</h4>
            </div>
            <div class="arrage stacked paddings">
                <button class="item" (click)="createNewBlank('trivia')">
                    <lu-icon [icon]="luIcon.trivia"></lu-icon>
                    <div>Examen</div>
                </button>

                <button class="item"  (click)="createNewBlank('simple')">
                    <lu-icon [icon]="luIcon.simple"></lu-icon>
                    <div>Tarjetas</div>
                </button>

                <button class="item" (click)="createNewBlank('true-false')">
                    <lu-icon [icon]="luIcon.trueFalse"></lu-icon>
                    <div>Verdadero / Falso</div>
                </button>

                <button class="item" (click)="createNewBlank('popularity')">
                    <lu-icon [icon]="luIcon.popularity"></lu-icon>
                    <div>Encuesta</div>
                </button>

                <button class="item" (click)="createNewBlank('math-quest')">
                    <lu-icon [icon]="luIcon.martQuest"></lu-icon>
                    <div>Calcular</div>
                </button>

                <button class="item" (click)="createNewBlank('reading')">
                    <lu-icon [icon]="luIcon.reading"></lu-icon>
                    <div>Lectura</div>
                </button>

            </div>
        </section-dinamic>
    </div>

    <div class="root-container quiz-form">

        <section-dinamic design="glass">
            <div class="arrage centers paddings">
                <h4>Plantillas en Linea ( <b>{{ listFilesFiltered.length }}</b> )</h4>
                <button class="link" (click)="resetFilter()" *ngIf="currentFilter">reset</button>
            </div>
            <div class="arrage centers paddings">
                <div class="item" (click)="filterBy('quiz')">
                    <lu-icon [icon]="luIcon.trivia"></lu-icon>
                    <div>Examen</div>
                </div>

                <div class="item" (click)="filterBy('simple')">
                    <lu-icon [icon]="luIcon.simple"></lu-icon>
                    <div>Tarjetas</div>
                </div>

                <div class="item" (click)="filterBy('true-false')">
                    <lu-icon [icon]="luIcon.trueFalse"></lu-icon>
                    <div>Verdadero / Falso</div>
                </div>

                <div class="item" (click)="filterBy('popularity')">
                    <lu-icon [icon]="luIcon.popularity"></lu-icon>
                    <div>Encuesta</div>
                </div>
            </div>

            <div class="arrage columns paddings">
                <div class="item" *ngFor="let item of listFilesFiltered">
                    <div class="arrage">
                        <div class="item">
                            <lu-icon [icon]="luIcon.trivia" *ngIf="item.type == 'trivia'"></lu-icon>
                            <lu-icon [icon]="luIcon.simple" *ngIf="item.type == 'simple'"></lu-icon>
                            <lu-icon [icon]="luIcon.trueFalse" *ngIf="item.type == 'true-false'"></lu-icon>
                            <lu-icon [icon]="luIcon.popularity" *ngIf="item.type == 'popularity'"></lu-icon>
                            <lu-icon [icon]="luIcon.martQuest" *ngIf="item.type == 'mart-quest'"></lu-icon>
                            <lu-icon [icon]="luIcon.reading" *ngIf="item.type == 'reading'"></lu-icon>
                        </div>
                        <div class="item">{{ item._name }}</div>
                        <div class="item">
                            <button class="primary" (click)="getFile(item)">
                                Obtener <lu-icon [icon]="luIcon.download" ></lu-icon>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </section-dinamic>

    </div>
</div>