<ng-container *ngIf="attempt">
    <div class="_animation_state">
        <div class="arrage columns paddings-down" [ngClass]="{'onWait': onLoading }">
            <section-dinamic design="glass">

                <div class="arrage centers paddings-relation">

                    <div class="item" (click)="gotoDashboard()">
                        <lu-icon [icon]="luIcon.back"></lu-icon>
                    </div>

                    <div class="item">
                        <h3>{{ attempt?.title }}</h3>
                    </div>

                </div>

                <div class="timer-status" *ngIf="currentSection == 'quiz'">

                    <div class="step-counter">
                        <span class="material-icons">
                            layers
                        </span>
                        {{ index + 1 }} {{ 'form_of_range' |
                        translate }} {{ attempt.questions.length }}
                    </div>

                    <div class="timer" [ngClass]="{'timer-green':  index == attempt.questions.length - 1 }">
                        <div class="timer-bar" [attr.style]="progresStyle"></div>
                    </div>

                    <div class="remaining-time" *ngIf="!readonly && attempt.time">
                        <span class="material-icons">
                            schedule
                        </span>
                        {{ attempt.time }}
                    </div>

                    <div class="status completed" *ngIf="readonly"> {{ 'attempt_status_complete' | translate }} </div>

                    <div class="zoom" (click)="updateZoom()">
                        <span class="material-icons">text_fields</span>
                        {{ zoomlevelLabel }}
                    </div>
                </div>
            </section-dinamic>

            <type-math-quest *ngIf="attempt.type == 'mart-quest'" [attempt]="attempt" (onChange)="onChangeChildren($event)"></type-math-quest>
            <type-popularity *ngIf="attempt.type == 'popularity'" [attempt]="attempt" (onChange)="onChangeChildren($event)"></type-popularity>
            <type-reading *ngIf="attempt.type == 'reading'" [attempt]="attempt" (onChange)="onChangeChildren($event)"></type-reading>
            <type-simple *ngIf="attempt.type == 'simple'" [attempt]="attempt" (onChange)="onChangeChildren($event)"></type-simple>
            <type-trivia *ngIf="attempt.type == 'trivia'" [attempt]="attempt" (onChange)="onChangeChildren($event)"></type-trivia>
            <type-true-false *ngIf="attempt.type == 'true-false'" [attempt]="attempt" (onChange)="onChangeChildren($event)"></type-true-false>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!attempt">
    <h1>{{ 'service_loading' | translate }}</h1>
</ng-container>