@import '../../../../resources/theme/core/mixins';
@import '../../../../resources/theme/core/typography';

$boxMinHeight: 50px;
$boxMinHeightFlat: 20px;
$boxMaxHeight: 300px;

.mat-form-field {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .mat-label {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        align-items: flex-start;
        background: var(--formBackground);
        border-radius: 10px;
        color: var(--appColor);
        margin: 15px 0;
        min-height: $boxMinHeight;
        font-size: rem(18px);

        .mat-label-text {
            transform: translate(10px, 5px);
            font-size: 70%;
            user-select: none;
            width: auto;
            pointer-events: none;
            transition: all 300ms;
            position: absolute;
            opacity: 0.5;
        }

        .mat-error {
            position: absolute;
            font-size: 70%;
            opacity: 1;
            bottom: -15px;
            padding: 0 10px;
            transition: all 300ms;

            &.error {
                color: var(--formErrorColor);
            }
        }

        .textarea-warp,
        input,
        textarea {
            margin: 0;
            padding: 10px;
            font-size: 100%;
            min-height: $boxMinHeight;
            height: $boxMinHeight;
        }

        .textarea-warp {
            width: 100%;
            padding: 0;
            height: auto;
            line-height: 1;
            display: grid;
            position: relative;

            &:after,
            textarea {
                content: attr(data-replicated-value) " ";
                white-space: pre-wrap;
                visibility: hidden;
                grid-area: 1 / 1 / 2 / 2;
                padding: 0 10px;
                line-height: 1;
                min-height: $boxMinHeight;
                max-height: $boxMaxHeight;
                overflow: auto;
                height: auto;
                box-sizing: border-box;
                resize: none;
                width: 100%;
            }

            textarea {
                visibility: visible;
            }
        }

        textarea {
            width: 100%;
            height: auto;
        }

        &.empty {
            .mat-label-text {
                transform: translate(12px, calc(#{$boxMinHeight} / 4));
                font-size: 100%;
                color: inherit;
                opacity: 0.7;
            }

            textarea,
            input {
                height: $boxMinHeight;

                &::placeholder {
                    opacity: 0;
                }
            }
        }

        &.disabled {
            background: transparent;
        }
    }
}

.flat-form {
    .mat-label {
        min-height: $boxMinHeightFlat;
        background: transparent;
        margin: 0;
        align-items: stretch;

        .mat-label-text {
            opacity: 0;
        }

        &.empty {
            .mat-label-text {
                transform: translate(12px, calc(#{$boxMinHeightFlat} / 4));
                opacity: 0.5;
            }

            textarea,
            input {
                &::placeholder {
                    opacity: 0;
                }
            }
        }
    }

    .textarea-warp {
        margin: 0;
        min-height: $boxMinHeightFlat;
        height: auto;
        
        textarea,
        input,
        &:after {
            min-height: $boxMinHeightFlat;
            height: auto;
            margin: 0;
            padding: 10px 0px;
        }
    }
}