@keyframes scale-up-center {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes enter-splash {
    0% {
      background: black;
      background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
      color: black;
    }
    100% {
      background: black;
      background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
      color: black;
    }
    
  }
  
  @keyframes exit-splash {
    0% {
      background: rgba(215,121,186,1);
      background: linear-gradient(45deg, rgba(215,121,186,1) 0%, rgba(159,118,219,1) 100%);
      color: black;
    }
    100% {
      background: rgba(215,121,186,1);
      background: linear-gradient(45deg, rgba(215,121,186,1) 0%, rgba(159,118,219,1) 100%);
      color: black;
    }
  }
  
  @keyframes _ripple {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes _rippleInfinite {
    0% {
      transform: scale(0);
    }
    70% {
      transform: scale(1);
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
  }