
$background: #000;
$black: #d0d0d0;

$default: #174FA1;
$defaultBG: $default;
$defaultBG_hover: #346ec5;
$defaultCOLOR: #FFFCFF;

$secondary: #174FA1;
$secondaryBG: $secondary;
$secondaryBG_hover: #346ec5;
$secondaryCOLOR: #FFFCFF;

$primary: #B30ECF;
$primaryBG: $primary;
$primaryBG_hover: #be29d8;
$primaryCOLOR: #e4e4e4;

$accent: #FFD477;
$accentBG: $accent;
$accentBG_hover: #d1aa56;
$accentCOLOR: #444444;
