$josefinFont: 'Josefin Sans';
.josefinFont {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

$outfitFont: 'Outfit';
.outfitFont {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

$lexendDecaFont: 'Lexend Deca';
.lexendDecaFont {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}
