<div class="_animation_state" *ngIf="form">
    <div class="root-container quiz-form">
        <section-dinamic design="glass">
            <div class="arrage centers">
                <div class="item" (click)="gotoDashboard()">
                    <lu-icon [icon]="luIcon.back"></lu-icon>
                </div>
                <div class="item" *ngIf="form">
                    <mat-input [title]="'form_title' | translate" [mesageError]="'form_title_required' | translate"
                        [formControl]="form.get('title')">
                    </mat-input>
                </div>
            </div>
        </section-dinamic>

        <section-dinamic design="glass" *ngIf="formQuestion">
            <div class="arrage columns paddings _question_section">
                <div class="item _help_section">
                    <span class="material-icons _accent color">
                        help
                    </span>
                    <div>{{ 'help_quiz_title' | translate }}</div>
                </div>

                <div class="item _question_section_quizname">
                    <mat-input [title]="'form_question' | translate"
                        [mesageError]="'form_question_required' | translate" [formControl]="formQuestion.get('title')"
                        [multiline]="true">
                    </mat-input>
                </div>

                <div class="item">
                    <div class="arrage columns" *ngIf="formQuestion.get('options')">
                        <ng-container *ngIf="formQuestion.get('options').controls">
                            <ng-container *ngFor="let option of formQuestion.get('options').controls">
                                <div class="_answer_section arrage stacked spaceBetween"
                                    [ngClass]="{'correct': option.get('_selected')?.value }">
                                    <div class="_answer_selection" (click)="selectAnswerCorrect(option)">
                                        <span *ngIf="!option.get('_selected').value" class="material-icons">
                                            radio_button_unchecked
                                        </span>
                                        <span *ngIf="option.get('_selected').value" class="material-icons">
                                            verified</span>
                                    </div>
                                    <div class="_answer_text">
                                        <mat-input class="flat-form" [title]="'form_answer' | translate"
                                            [mesageError]="'form_answer_required' | translate"
                                            [formControl]="option.get('content')" [formName]="'content'"
                                            [multiline]="true" (onChange)="onOptionChange($event, option)">
                                        </mat-input>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </section-dinamic>


        <section-dinamic class="_navbarFixedBottom" design="glass" className="rounded">
            <div class="_navbarBottom">

                <button class="_nav_item _nav_action _prev" (click)="prevQuestion()" [disabled]="!currentAnswerIndex">
                    <lu-icon [icon]="luIcon.left"></lu-icon><span>{{ 'action_prev' | translate }}</span>
                </button>

                <div class="_nav_item_collection">
                    <button class="_nav_item" *ngIf="quiz && settings">
                        <div class="step-counter" *ngIf="quiz.answers.length != 1">
                            {{ currentAnswerIndex + 1 }} : {{ quiz.answers.length }}
                        </div>
                        <div class="step-counter" *ngIf="quiz.answers.length == 1">
                            {{ quiz.answers.length }}
                        </div>
                    </button>
                </div>

                <button class="_nav_item _nav_action _next" (click)="nextQuestion()" [disabled]="!validActions">
                    <span>{{ 'action_next' | translate }}</span><lu-icon [icon]="luIcon.right"></lu-icon>
                </button>

                <button class="_nav_item _nav_action _next _register" (click)="finishCreation()" [disabled]="!validActions"
                    *ngIf="quiz && quiz.answers.length > 1"><lu-icon [icon]="luIcon.save"></lu-icon>
                </button>

            </div>
        </section-dinamic>
    </div>
</div>

<div class="timer-status" *ngIf="false">
    <ng-container *ngIf="!showIAForm">
        <div class="step-counter">
            <span>{{ 'form_total_question' | translate }}:</span> {{ currentAnswerIndex + 1 }} {{ 'form_of_range' |
            translate }} {{ quiz.answers.length }}
        </div>
        <!-- <div class="timer">
        <div class="timer-bar"></div>
    </div> -->
        <div class="timer-status-input" [ngClass]="{'buttonmode': !durationFormShow}" *ngIf="false">
            <ng-container *ngIf="durationFormShow">
                <mat-input [title]="'form_minutes' | translate" [mesageError]="'form_time_required' | translate"
                    [formControl]="form.get('time')" [type]="'number'" (onChange)="onChangeDuration($event)">
                </mat-input>
            </ng-container>

            <ng-container *ngIf="!durationFormShow">
                <button (click)="editDuration()">
                    <div class="inner">
                        {{ 'form_duration' | translate }}:
                        <span class="material-icons">
                            all_inclusive
                        </span>
                    </div>
                </button>
            </ng-container>

        </div>
    </ng-container>

    <!-- <div class="timer-status-input" [ngClass]="{'buttonmode': !durationFormShow}" *ngIf="settings.permissions.ai">
        <button (click)="enableIA()">
            <div class="inner">
                <ng-container *ngIf="!showIAForm">
                    {{ 'use_ai' | translate }} <span class="material-icons">auto_awesome</span>
                </ng-container>
                <ng-container *ngIf="showIAForm">
                    {{ 'use_manual' | translate }} <span class="material-icons">history_edu</span>
                </ng-container>
            </div>
        </button>
    </div> -->
</div>

<div class="root-container" *ngIf="false">
    <ng-container>
        <div class="simple-section" *ngIf="formQuestion">
            <div class="_question">

                <div class="_question_text gray-backdrop drop-padding drop-top">
                    <div class="exam-section _help">
                        <span class="material-icons _accent color">
                            help
                        </span>
                        <div>{{ 'help_quiz_title' | translate }}</div>
                    </div>

                    <mat-input [title]="'form_question' | translate"
                        [mesageError]="'form_question_required' | translate" [formControl]="formQuestion.get('title')"
                        [multiline]="true">
                    </mat-input>
                </div>

                <div class="exam-section _help">
                    <span class="material-icons _accent color">
                        help
                    </span>
                    <div>{{ 'help_quiz_options' | translate }}</div>
                </div>
                <div class="_answer_collection gray-backdrop drop-padding drop-bottom"
                    *ngIf="formQuestion.get('options')">
                    <ng-container *ngIf="formQuestion.get('options').controls">
                        <ng-container *ngFor="let option of formQuestion.get('options').controls">
                            <div class="_answer flat" [ngClass]="{'correct': option.get('_selected')?.value }">
                                <div class="_answer_selection" (click)="selectAnswerCorrect(option)">
                                    <span *ngIf="!option.get('_selected').value" class="material-icons">
                                        radio_button_unchecked
                                    </span>
                                    <span *ngIf="option.get('_selected').value" class="material-icons">
                                        verified</span>
                                </div>
                                <div class="_answer_text">
                                    <mat-input class="flat-form" [title]="'form_answer' | translate"
                                        [mesageError]="'form_answer_required' | translate"
                                        [formControl]="option.get('content')" [formName]="'content'" [multiline]="true"
                                        (onChange)="onOptionChange($event, option)">
                                    </mat-input>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>

                <div class="_question_actions fixed" *ngIf="form">
                    <button class="link uppercase" (click)="prevQuestion()" [disabled]="!currentAnswerIndex"
                        *ngIf="currentAnswerIndex">
                        <div class="inner">
                            <span class="material-icons _accent color">
                                chevron_left
                            </span>
                            {{ 'action_prev' | translate }}
                        </div>
                    </button>

                    <!-- <button class="primary" (click)="saveQuiz()" *ngIf="quiz && quiz.answers.length > 1">
                        <div class="inner">
                            {{ 'action_save' | translate }}
                        </div>
                    </button> -->

                    <button class="primary" (click)="finishCreation()" [disabled]="!validActions"
                        *ngIf="quiz && quiz.answers.length > 1">
                        <div class="inner">
                            {{ 'action_finish' | translate }}
                        </div>
                    </button>

                    <button class="link uppercase" (click)="nextQuestion()" [disabled]="!validActions">
                        <div class="inner">
                            {{ 'action_next' | translate }}
                            <span class="material-icons _accent color">
                                chevron_right
                            </span>
                        </div>
                    </button>


                </div>

            </div>
        </div>
    </ng-container>

    <!-- <ng-container *ngIf="showIAForm">
        <div class="simple-section" *ngIf="formIAGenerated">
            <div class="_question" [ngClass]="{'loading_noclick': loadingDataAi }">
                <div class="gray-backdrop drop-padding">
                    <mat-input [title]="'form_answer_ia_topic' | translate"
                        [mesageError]="'form_answer_ia_topic_required' | translate" [multiline]="true"
                        [formControl]="formIAGenerated.get('topic')">
                    </mat-input>

                    <div class="_question_text_collection">
                        <mat-input [title]="'form_answer_num' | translate"
                            [mesageError]="'form_answer_num_required' | translate"
                            [formControl]="formIAGenerated.get('questions')">
                        </mat-input>
                        <mat-input [title]="'form_answeroptions' | translate"
                            [mesageError]="'form_answeroptions_required' | translate"
                            [formControl]="formIAGenerated.get('options')">
                        </mat-input>
                    </div>
                </div>

                <div class="_question_actions fixed">
                    <button class="primary" (click)="generateQuiz()" [disabled]="formIAGenerated.invalid">
                        <div class="inner">
                            {{ 'generate_questions' | translate }}
                            <span class="material-icons">auto_awesome</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </ng-container> -->

</div>