@font-face {
    font-family: 'Outfit';
    src: url('Outfit-Bold.woff2') format('woff2'),
        url('Outfit-Bold.woff') format('woff'),
        url('Outfit-Bold.ttf') format('truetype'),
        url('Outfit-Bold.svg#Outfit-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('Outfit-Light.woff2') format('woff2'),
        url('Outfit-Light.woff') format('woff'),
        url('Outfit-Light.ttf') format('truetype'),
        url('Outfit-Light.svg#Outfit-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('Outfit-Regular.woff2') format('woff2'),
        url('Outfit-Regular.woff') format('woff'),
        url('Outfit-Regular.ttf') format('truetype'),
        url('Outfit-Regular.svg#Outfit-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}