.notification {
    position: fixed;
    width: 100%;
    max-width: calc(100vw - 8%);
    height: auto;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0 4%;
    background: var(--appBackground);
    color: var(--notificationColor);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 15px;
    border-radius: 10px;
    transition: all 300ms;
    transform: translatey(150%);
    font-size: 1.2rem;
    z-index: 30;

    @include mobile-tablet {
        font-size: 1rem;
    }

    .item {
        padding: 0 5px;
        &.actions {
            padding-right: 0;

            display: flex;

            button {
                width: 30px;
                height: 30px;
                padding: 0;
                background: transparent;
                color: inherit;
            }
        }
    }

    &.show {
        transform: translatey(0%);
    }

    &.success {
        background: var(--notificationSuccess);
        color: var(--notificationColorContrast);
    }

    &.warning {
        background: var(--notificationWarning);
        ;
        color: var(--notificationColorContrast);
    }

    &.error {
        background: var(--notificationError);
        ;
        color: white;
    }

    &.info {
        background: var(--notificationInfo);
        ;
        color: var(--notificationColorContrast);
    }

    &.full-IA {
        height: 98vh;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(4px);
        background: linear-gradient(-45deg, rgba(238, 118, 82, 0.8), rgba(231, 60, 126, 0.8), rgba(35, 165, 213, 0.8), rgba(35, 213, 171, 0.8));
        background-size: 200% 200%;
        animation: gradient 5s ease infinite;
        color: black;
    }

    &.static {
        transform: translatey(0%);
        position: relative;
    }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}