<header [mode]="'settings'"></header>

<div class="root-container">

    <div class="simple-section gray-backdrop">
        <div class="_content small" *ngIf="profile">
            <h4 class="title-upper">{{ 'profile' | translate }}</h4>
            <div class="_content_inner">
                <div class="_item_option _help_section">
                    <div class="icon _secondary color">
                        <span class="material-icons">
                            help
                        </span>
                    </div>
                    <div>{{ 'help_profile' | translate }}</div>
                </div>
                <div class="_item_option _profile_dinamic_section">
                    <div class="item _avatar_collection" [ngClass]="{'closed': !profileUI.avatarEdit }">
                        <div class="_wrap_collection">
                            <ng-container *ngFor="let item of defaultAvatars">
                                <div class="avatar-image" *ngIf="profileUI.avatarEdit"
                                    [ngClass]="{'selected': item.selected }" (click)="selectAvatar(item)">
                                    <img [attr.src]="item.url" [attr.alt]="item.url">
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="item _avatar_default"
                        [ngClass]="{'open_props': profileUI.avatarEdit, 'closed': profileUI.usernameEdit }">
                        <ng-container *ngIf="!profileUI.usernameEdit">
                            <div class="image" (click)="editAvatar()" *ngIf="!profileUI.avatarEdit">
                                <img [attr.src]="profile.avatarUrl" alt="">
                            </div>
                            <button class="primary" (click)="editAvatar()" *ngIf="profileUI.avatarEdit">
                                <div class="inner"><span class="material-icons">done</span></div>
                            </button>
                        </ng-container>
                    </div>
                    <div class="item _username_default" [ngClass]="{'closed': profileUI.avatarEdit }">
                        <ng-container *ngIf="!profileUI.avatarEdit">
                            <mat-input [title]="'form_name' | translate"
                                [mesageError]="'form_name_required' | translate" [formControl]="form.get('name')">
                            </mat-input>
                            <button (click)="editUsername()" *ngIf="!profileUI.usernameEdit">
                                <div class="inner"><span class="material-icons">edit</span></div>
                            </button>
                        </ng-container>
                    </div>
                    <div class="item _username_actions" [ngClass]="{'closed': !profileUI.usernameEdit }">
                        <ng-container *ngIf="profileUI.usernameEdit">

                            <button class="primary" (click)="editUsernameConfirm()">
                                <div class="inner"><span class="material-icons">done</span></div>
                            </button>
                            <button (click)="editUsernameCancel()">
                                <div class="inner"><span class="material-icons">close</span></div>
                            </button>
                        </ng-container>
                    </div>
                </div>

            </div>
        </div>

        <div class="_content small" *ngIf="settings">
            <h4 class="title-upper">{{ 'permission_theme' | translate }}</h4>
            <div class="_content_inner">
                <div class="_item_option _profile_dinamic_section">
                    <div class="item _generic_actions">
                        <div class="icon">
                            <span class="material-icons">app_registration</span>
                        </div>

                        <ng-container *ngFor="let theme of availableThemes">
                            <button class="link"
                                [ngClass]="{'primary': theme == settings.theme, 'link': theme != settings.theme }"
                                (click)="changeTheme(theme)">
                                <div class="inner">
                                    <ng-container *ngIf="theme == 'light'"><span
                                            class="material-icons">light_mode</span>{{ 'permission_theme_light' |
                                        translate }}</ng-container>
                                    <ng-container *ngIf="theme == 'dark'"><span
                                            class="material-icons">brightness_2</span>{{ 'permission_theme_dark' |
                                        translate }}</ng-container>
                                    <ng-container *ngIf="theme == 'custom'">{{ 'permission_theme_custom' |
                                        translate }}</ng-container>
                                </div>
                            </button>
                        </ng-container>
                    </div>
                </div>
                <div class="_item_option _profile_dinamic_section" *ngIf="false">
                    <div class="item _generic_actions helper">
                        <div class="icon">
                            <span class="material-icons">palette</span>
                        </div>

                        <button class="link" (click)="customizeColors()">
                            <div class="inner">{{ 'customize' | translate }}</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="_content small" *ngIf="themeProps && customizeColorsMode">
            <h4 class="title-upper">{{ 'customize' | translate }}</h4>
            <div class="_content_inner">
                <div class="_item_option _help_section _column _warp">
                    <ng-container *ngFor="let prop of themeProps">
                        <div class="color-container">
                            <div class="color-description">
                                {{ prop.name }}
                            </div>
                            <input type="color" class="color-square" name="" id="" [(ngModel)]="prop.value" (change)="updateColors()">
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="_content small" *ngIf="settings">
            <h4 class="title-upper">{{ 'permission_language' | translate }}</h4>
            <div class="_content_inner">
                <div class="_item_option _profile_dinamic_section">
                    <div class="item _generic_actions">
                        <div class="icon">
                            <span class="material-icons">
                                language
                            </span>
                        </div>
                        <ng-container *ngFor="let lan of settings._languages">
                            <button class="link"
                                [ngClass]="{'primary': lan.value == settings.language, 'link': lan.value != settings.language }"
                                (click)="changeLanguage(lan.value)">{{ lan.value | translate }}</button>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>

        <div class="_content small" *ngIf="settings">
            <h4 class="title-upper">{{ 'permission' | translate }}</h4>
            <div class="_content_inner">
                <div class="_item_option _help_section">
                    <div class="icon _secondary color">
                        <span class="material-icons">
                            help
                        </span>
                    </div>
                    <div>{{ 'help_flags' | translate }}</div>
                </div>
                <div class="_item_option">
                    <div class="description full">
                        <div class="description-title">{{ 'permission_create' | translate }}</div>
                    </div>
                    <div class="action clickable" (click)="tooglePermission('create')"
                        [ngClass]="{'active': settings.permissions.create }">
                        <span class="material-icons" *ngIf="settings.permissions.create">toggle_on</span>
                        <span class="material-icons" *ngIf="!settings.permissions.create">toggle_off</span>
                    </div>
                </div>
                <div class="_item_option">
                    <div class="description full">
                        <div class="description-title">{{ 'permission_edit' | translate }}</div>
                    </div>
                    <div class="action clickable" (click)="tooglePermission('edit')"
                        [ngClass]="{'active': settings.permissions.edit }">
                        <span class="material-icons" *ngIf="settings.permissions.edit">toggle_on</span>
                        <span class="material-icons" *ngIf="!settings.permissions.edit">toggle_off</span>
                    </div>
                </div>
                <div class="_item_option">
                    <div class="description full">
                        <div class="description-title">{{ 'permission_duplicate' | translate }}</div>
                    </div>
                    <div class="action clickable" (click)="tooglePermission('duplicate')"
                        [ngClass]="{'active': settings.permissions.duplicate }">
                        <span class="material-icons" *ngIf="settings.permissions.duplicate">toggle_on</span>
                        <span class="material-icons" *ngIf="!settings.permissions.duplicate">toggle_off</span>
                    </div>
                </div>
                <div class="_item_option">
                    <div class="description full">
                        <div class="description-title">{{ 'permission_delete' | translate }}</div>
                    </div>
                    <div class="action clickable" (click)="tooglePermission('delete')"
                        [ngClass]="{'active': settings.permissions.delete }">
                        <span class="material-icons" *ngIf="settings.permissions.delete">toggle_on</span>
                        <span class="material-icons" *ngIf="!settings.permissions.delete">toggle_off</span>
                    </div>
                </div>
                <div class="_item_option">
                    <div class="description full">
                        <div class="description-title">{{ 'permission_ia' | translate }}</div>
                    </div>
                    <div class="action clickable" (click)="tooglePermission('ai')"
                        [ngClass]="{'active': settings.permissions.ai }">
                        <span class="material-icons" *ngIf="settings.permissions.ai">toggle_on</span>
                        <span class="material-icons" *ngIf="!settings.permissions.ai">toggle_off</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="_content small" *ngIf="settings">
            <h4 class="title-upper">{{ 'legal_title' | translate }}</h4>
            <div class="_content_inner">
                <div class="_item_option">
                    <div class="icon _secondary color">
                        <span class="material-icons">
                            gavel
                        </span>
                    </div>
                        <a class="_accent color" href="https://sergal.site/#/legal/simexam/terms" target="_blank">{{
                            'terms_conditions' | translate }}</a>
                </div>
                <div class="_item_option">
                    <div class="icon _secondary color">
                        <span class="material-icons">
                            policy
                        </span>
                    </div>
                        <a class="_accent color" href="https://sergal.site/#/legal/simexam/privacy" target="_blank">{{
                            'privacy_policy' | translate }} </a>
                </div>
            </div>
        </div>

        <div class="_content small" *ngIf="false">
            <h4 class="title-upper">{{ 'permission_data' | translate }}</h4>
            <div class="_content_inner">
                <div class="_item_option">
                    <div class="description full">
                        <div class="description-title">{{ 'permission_import' | translate }}</div>
                    </div>
                    <div class="action active clickable">
                        <span class="material-icons">
                            unarchive
                        </span>
                    </div>
                </div>
                <div class="_item_option">
                    <div class="description full">
                        <div class="description-title">{{ 'permission_export' | translate }}</div>
                    </div>
                    <div class="action active clickable">
                        <span class="material-icons">
                            assignment_returned
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>