:host {
    --mouse-x: 50%;
    --mouse-y: 50%;
    --controlMinHeight: 30px;
    display: block;
    width: 100%;
}

.dynamic-expand {
    width: 100%;
    height: var(--controlMinHeight);
    overflow: hidden;
    transition: height 300ms ease;
    border-radius: 20px;
    min-height: var(--controlMinHeight);

    &.rounded {
        border-radius: 200px;
    }
}

.dynamic-expand__content {
    width: 100%;
    box-sizing: border-box;
}

.acrilic {
    border-radius: 20px;
    background: #a1a1a153 !important;
    backdrop-filter: blur(24px) saturate(150%) contrast(110%);
    border: 1px solid #0202023b;
    box-shadow:
        0 30px 80px rgba(0, 0, 0, 0.4),
        inset 0 1px 0 rgba(255, 255, 255, 0.3),
        inset 0 -1px 0 rgba(255, 255, 255, 0.05);

    &:before {
        border-radius: inherit;
        content: '';
        position: absolute;
        inset: 0;
        pointer-events: none;
        z-index: -1;
        background:
            radial-gradient(circle 100px at var(--mouse-x) var(--mouse-y),
                rgba(255, 255, 255, 0.9) 0%,
                rgba(255, 255, 255, 0.45) 20%,
                rgba(255, 255, 255, 0.12) 45%,
                transparent 70%);
        mask:
            linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
            mask-composite: exclude;

        -webkit-mask:
            linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
            -webkit-mask-composite: xor;

        padding: 2px;
    }

}

.glass {
    background: #3838385d !important;
    backdrop-filter: blur(24px) saturate(150%) contrast(110%);
    border: 1px solid #0c0c0c23;
    box-shadow:
        0 30px 80px rgba(0, 0, 0, 0.4),
        inset 0 1px 0 rgba(255, 255, 255, 0.3),
        inset 0 -1px 0 rgba(255, 255, 255, 0.05);
    
    &:before {
        border-radius: inherit;
        content: '';
        position: absolute;
        inset: 0;
        pointer-events: none;
        z-index: -1;
        background:
            radial-gradient(circle 100px at var(--mouse-x) var(--mouse-y),
                #ffffffba 0%,
                #ffffff8e 20%,
                #ffffff20 45%,
                transparent 70%);

        // background: 
        //     radial-gradient(circle 100px at var(--mouse-x) var(--mouse-y),            
        //     #ffffffba 0%,
        //     #eeaeca 30%, 
        //     #94bbe9 70%,
        //     transparent 100%);
        
        mask:
            linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
            mask-composite: exclude;

        -webkit-mask:
            linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
            -webkit-mask-composite: xor;

        padding: 2px;
    }
}

.gold {
    background:
        linear-gradient(135deg,
            #6f4e0b 0%,
            #b8860b 15%,
            #f5d76e 32%,
            #fff1a8 42%,
            #d4af37 55%,
            #a67c00 72%,
            #f2d16b 88%,
            #8a6508 100%) !important;

    border: 1px solid #e5c45c;

    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.65),
        inset 0 -1px 0 rgba(80, 50, 0, 0.5),
        0 10px 30px rgba(80, 50, 0, 0.35);

    color: #3d2a00;
    overflow: hidden;

    &:before {
        content: "";

        position: absolute;
        inset: 0;

        pointer-events: none;

        // background:
        //     linear-gradient(110deg,
        //         transparent 20%,
        //         rgba(255, 255, 255, 0.45) 45%,
        //         rgba(255, 245, 180, 0.15) 50%,
        //         transparent 65%);

        mix-blend-mode: screen;
    }
}

.none {
    border: 1px dashed #aaaaaa25;
    // border-radius: 0;
}